.container{
  max-width: 1360px !important;
}
.menu_li{
  padding : 3px 15px;
}
.MenuContent{
  color: white;
  font-size: 21px;
  font-weight: 600;
  
}
.MenuContent:hover{
  color: white;
  list-style: none;
  text-decoration: none;
  
}